*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    background:#f4f4f4;
}

.navbar{
    width:100%;
    padding:15px 40px;
    background:#222;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.brand{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-circle{
    width:36px;
    height:36px;
    background:#ff9800;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-weight:bold;
}

.brand-name{
    font-size:22px;
    font-weight:bold;
    color:#ff9800;
}

.navbar a{
    color:#fff;
    text-decoration:none;
    margin-left:25px;
    font-size:14px;
}

.navbar a:hover{
    color:#ff9800;
}

.header{
    background:linear-gradient(135deg,#ff9800,#ff6f00);
    color:#fff;
    text-align:center;
    padding:60px 20px;
}

.header h1{
    font-size:40px;
}

.header p{
    margin-top:10px;
    font-size:16px;
}

.destinations{
    padding:60px 40px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap:40px;
    max-width:1200px;
    margin:0 auto;
}

.card{
    background:#fff;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 12px 25px rgba(0,0,0,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:190px;
    object-fit:cover;
}

.card-content{
    padding:20px;
    text-align:center;
}

.card-content h3{
    color:#ff9800;
    margin-bottom:10px;
}

.card-content p{
    font-size:14px;
    color:#555;
    margin-bottom:15px;
}

.card-buttons{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}

.card-buttons a{
    text-decoration:none;
    padding:8px 18px;
    border-radius:20px;
    font-size:14px;
    font-weight:500;
}


.know-btn{
    background:#e0e0e0;
    color:#333;
}

.know-btn:hover{
    background:#d5d5d5;
}


.book-btn{
    background:#ff9800;
    color:#fff;
}

.book-btn:hover{
    background:#e68900;
}

.footer{
    background:#fff;
    padding:40px 20px 10px;
    margin-top:60px;
    border-top:1px solid #ddd;
}

.footer-container{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.footer-box h3{
    margin-bottom:12px;
    color:#333;
}

.footer-box a{
    display:block;
    color:#555;
    text-decoration:none;
    margin-bottom:6px;
    font-size:14px;
}

.footer-box a:hover{
    color:#ff9800;
}

.footer-logo{
    color:#ff9800;
    margin-bottom:10px;
}

.footer-box p{
    font-size:14px;
    color:#555;
}

.social a{
    font-size:20px;
    margin-right:10px;
    text-decoration:none;
}

.footer-bottom{
    text-align:center;
    font-size:13px;
    color:#777;
    margin-top:30px;
    padding-top:10px;
    border-top:1px solid #ddd;
}
