*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    background:url("https://images.unsplash.com/photo-1501785888041-af3ef285b470")
    no-repeat center/cover;
    min-height:100vh;
}

/* NAVBAR */
.navbar{
    width:100%;
    padding:15px 40px;
    background:rgba(0,0,0,0.75);
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.brand{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-circle{
    width:38px;
    height:38px;
    background:#ff9800;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:18px;
    font-weight:bold;
}

.brand-name{
    font-size:22px;
    font-weight:bold;
    color:#ff9800;
}

.navbar a{
    color:#fff;
    text-decoration:none;
    margin-left:25px;
}

.navbar a:hover{
    color:#ff9800;
}

/* HERO */
.overlay{
    min-height:100vh;
    background:rgba(0,0,0,0.55);
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:#fff;
}

.content h1{
    font-size:52px;
    margin-bottom:15px;
}

.content p{
    max-width:600px;
    margin-bottom:30px;
    font-size:18px;
}

.content button{
    padding:14px 36px;
    border:none;
    border-radius:30px;
    background:#ff9800;
    color:#fff;
    font-size:18px;
    cursor:pointer;
}

.content button:hover{
    background:#e68900;
}
.get-started-btn{
    display:inline-block;
    padding:12px 30px;
    background:#ff9800;
    color:#fff;
    text-decoration:none;
    border-radius:30px;
    font-size:16px;
    font-weight:600;
}

.get-started-btn:hover{
    background:#e68900;
}
